<html>
    <head>
        <title>RL | Q-Learning</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <style>
            path {
                fill: none;
                stroke: #357CB6;
                stroke-width: 2px;
              }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row justify-content-md-center"><h1 class="display-4">Q Learning</h1></div>
        <div class="row"><hr></div>
        <div class="row">
            <div class="col">
                <h4>Episode: <span class="episode">0</span></h4>
                <button onClick="runAgent()" class="btn btn-outline-success">Start</button>
                <button onClick="location.reload()" class="btn btn-outline-danger">Reset</button>

                <button onClick="agentSpeed(50)" class="btn btn-outline-info">Fast</button>
                <button onClick="agentSpeed(80)" class="btn btn-outline-info">Normal</button>
                <button onClick="agentSpeed(150)" class="btn btn-outline-info">Slow</button>
                <hr>
                <div id="grid"></div>
                
            </div>
            <div class="col">
                <h4>Reward per episode</h4>
                <div id="chart"></div>
            </div>
        </div>
    </div>
    
    <script>

        var numcols = 4;
        var numrows = 4;
        var cellsize = 100;
        var gridheight = 450;
        var gridwidth = 450;
        var chartheight = 400;
        var chartwidth = 400;
        var agentdelay = 50;
        // data rendered by flask
        var data = {{data|safe}}
        // data for chart
        var seriesData = []
        // chart selection
        var chart;
        // line generator function
        var line;
        // dicts to store d3 selections for rects, v and p texts
        var rs ={}
        var vs ={}
        var ps = {}

        var createGrid = function(){

            var grid = d3.select('#grid').append('svg')
                    .attr('height',gridheight).attr('width',gridwidth)
            // add svg:def for mario sprites
            var defs = grid.append('svg:defs');
            // map of pattern id and link for sprite
            var mario_patterns = {
                'U':['mario_up','{{url_for("static",filename="assets/up.png")}}' ],
                'D':['mario_down','{{url_for("static",filename="assets/downwards.png")}}'],
                'L':['mario_left','{{url_for("static",filename="assets/left.png")}}'],
                'R':['mario_right','{{url_for("static",filename="assets/right.png")}}'],
            }
            // add all the sprite patterns
            Object.keys(mario_patterns).forEach(function(key){
                defs.append("svg:pattern")
                .attr("id", mario_patterns[key][0])
                .attr("width", cellsize)
                .attr("height", cellsize)
                .attr("patternUnits", "userSpaceOnUse")
                .append("svg:image")
                .attr("xlink:href", mario_patterns[key][1])
                .attr("width", cellsize)
                .attr("height", cellsize)
                .attr("x", 0)
                .attr("y", 0);
            })

            for(var y=0;y<numcols;y++)
                for(var x=0;x<numrows;x++)
                {
                    var xc = x*cellsize;
                    var yc = y*cellsize;
                    var state = y*numcols + x;
                    var g = grid.append('g');
                    var rect = g.append('rect');
                    var r = g.append('rect')
                            .attr('x',xc )
                            .attr('y', yc)
                            .attr('height', cellsize)
                            .attr('width', cellsize)
                            .attr('fill', '#FFF')
                            .attr('stroke', 'black')
                            .attr('stroke-width', 1);
                    rs[state] = r;
                    var v = g.append('text')
                            .attr('class','cell-policy')
                            .attr('x',d => xc + cellsize/2)
                            .attr('y',d => yc + cellsize/1.05)
                            .style('font-size','12px')
                            .attr("text-anchor", "middle")
                            .text('0.00');
                    vs[state] = v;
                    var p = g.append('text')
                            .attr('class','cell-policy')
                            .attr('x',d => xc + cellsize/12)
                            .attr('y',d => yc + cellsize/4)
                            .text('↻');
                    ps[state] = p;
                }
            // bad state and goal state
            rs[15].style('fill','darkgreen');
            rs[15].text('');
            rs[5].style('fill','red');
                
        }
        
        // function to delay agent
        var sleep = function(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        
        var agentStep = async function (grid_data){
            
            //fill values for each state of agent
            var mario_map = {
                'U':'url(#mario_up)','D':'url(#mario_down)','L':'url(#mario_left)','R':'url(#mario_right)'
            }

            for(var i=0;i<grid_data.steps.length;i++)
            {
                    var state = grid_data.steps[i][1][0] * numrows + grid_data.steps[i][1][1];
                    var action = grid_data.policy[state]
                    // add agent sprite to cell and wait 
                    var cell = rs[state];
                    cell.style('fill',mario_map[action]);
                    await sleep(agentdelay);
                    // reset cell 
                    cell.style('fill','#fff')
                    if(state == 5)cell.style("fill","red");
                    if(state == 15)cell.style("fill","darkgreen");
            }
        }

        var createChart = function(){
            var xScale = d3.scaleLinear().domain([0,data.length]).range([0, chartwidth]);
            var yScale = d3.scaleLinear().domain([-100,100]).range([chartheight, 0]);

            line = d3.line()
                .x(function(d, i) { return xScale(i); })
                .y(function(d) { return yScale(d); })
                .curve(d3.curveMonotoneX)
            
            var svg = d3.select("#chart").append("svg")
                            .attr("width", 500)
                            .attr("height", 500)
                            .append("g")
                            .attr("transform", "translate(30,75)");
            svg.append("g")
                .attr("transform", "translate(0," + chartheight + ")")
                .call(d3.axisBottom(xScale)); 

            svg.append("g")
                .call(d3.axisLeft(yScale));
            
            chart = svg.append("path").datum([]).attr("class", "line").attr("d", line);
            chart.datum(seriesData).attr("class", "line").attr("d", line);
 
        }
        
        var runAgent = async function(){
            
            var arrow_map ={'U':'⇡','D':'⇣','L':'⇠','R':'⇢','G':'G'};
            
            for(var e=0;e<data.length;e++){
                grid_data = data[e];
                // take action, goto new state and wait
                await agentStep(grid_data)
                // calculate reward for this episode
                r = 0;
                for(var i=0;i<grid_data.steps.length;i++)
                    r += grid_data.steps[i][2]
                // add reward data to line chart
                seriesData.push(r)
                chart.datum(seriesData).attr("class", "line").attr("d", line);
                
                // update policy and value texts for the grid
                for(var y=0;y<numrows;y++)
                    for(var x=0;x<numcols;x++)
                    {
                        var state = y*numrows + x;
                        p = ps[state];
                        v = vs[state];
                        p.text(arrow_map[grid_data.policy[state]]);
                        v.text(grid_data.score[state].toFixed(2));
                    }
                // update episode text
                d3.select('.episode').text(e+1);
            }
        }
        
        var agentSpeed = function(delay){
            agentdelay = delay;
        }
        
        window.onload = function() {
            createGrid();
            createChart();
        };
        
    </script>
    </body>
</html>